html,
body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  background-image: repeating-linear-gradient(112.5deg, hsla(19,0%,93%,0.2) 0px, 
  hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,hsla(19,0%,93%,0.2) 1px, 
  hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,
  hsla(19,0%,93%,0.2) 5px, 
  hsla(19,0%,93%,0.2) 8px),
  repeating-linear-gradient(0deg, hsla(19,0%,93%,0.2) 0px, 
  hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,
  hsla(19,0%,93%,0.2) 1px, 
  hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,
  hsla(19,0%,93%,0.2) 5px, 
  hsla(19,0%,93%,0.2) 8px),
  linear-gradient(135deg, rgb(238, 238, 238),
  rgb(121, 121, 121));
}

#__next {
  max-width: 680px;
  margin: 32px auto;
  margin-bottom: 32px;
  background: #FFF;
  box-shadow: 1px 4px 15px -8px rgba(0,0,0,0.85);
}

div {
  padding: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  background-color: #EEEEEE;
}

li {
  padding: 5px 5px 5px 5px;
}

li a {
  font-weight:bold;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
